<form method="get" action="http://www.google.com/custom" target="_top">
<table border="0" style="float:right; padding: 0">
<tr><td nowrap="nowrap" valign="top" align="left">
     <input type="hidden" name="domains" value="uesp.net;forums.uesp.net"></input>
     <label for="sbi" style="display: none">Enter your search terms</label>
     <input type="text" name="q" size="22" maxlength="255" value="" id="sbi"></input>
</td><td>
     <label for="sbb" style="display: none">Submit search form</label>
     <input type="submit" name="sa" value="Google Search" id="sbb"></input>
</td>
</tr><tr>
<td nowrap="nowrap" colspan="2">
<table>
<tr><td>
     <input type="radio" name="sitesearch" value="" id="ss0" style="margin-left:0px;"></input>
     <label for="ss0" title="Search the Web"><font size="-1" color="#000000">Web</font></label></td>
<td>
     <input type="radio" name="sitesearch" value="uesp.net" id="ss1"></input>
     <label for="ss1" title="Search uesp.net"><font size="-1" color="#000000">uesp.net</font></label></td>
<td>
     <input type="radio" name="sitesearch" checked  value="forums.uesp.net" id="ss2" style="margin-left:0px"></input>
     <label for="ss2" title="Search forums.uesp.net"><font size="-1" color="#000000">forums.uesp.net</font></label></td>
</tr>
</table>
<input type="hidden" name="client" value="pub-3886949899853833"></input>
<input type="hidden" name="forid" value="1"></input>
<input type="hidden" name="channel" value="1320313013"></input>
<input type="hidden" name="ie" value="ISO-8859-1"></input>
<input type="hidden" name="oe" value="ISO-8859-1"></input>
<input type="hidden" name="safe" value="active"></input>
<input type="hidden" name="cof" value="GALT:#008000;GL:1;DIV:#CCCCCC;VLC:663399;AH:center;BGC:FBEFD5;LBGC:FCFFF0;ALC:0000ff;LC:0000ff;T:000000;GFNT:0000FF;GIMP:0000FF;LH:50;LW:189;L:http://www.uesp.net/w/images/Mainpage-logo.png;S:http://www.uesp.net;FORID:1"></input>
<input type="hidden" name="hl" value="en"></input>
</td></tr></table>
</form>