#
# phpBB Theme Configuration File
#
# uesp theme
# derived from subSilver2 theme
#
# Available and used values:
# parse_css_file
# 

# General Information about this theme
name = uesp
copyright = 
version = 3.0.5

# Some configuration options

#
# You have to turn this option on if you want to use the 
# path template variables ({T_IMAGESET_PATH} for example) within
# your css file.
# This is mostly the case if you want to use language specific
# images within your css file.
#
parse_css_file = off
